<suite name="Parallel Tests" verbose="1">
    <tests>
        <test name="Basic_sanity">
            <parameters>
                <parameter name="AUT" value="web"/>
                <parameter name="browser" value="firefox"/>
                <parameter name="TestGroup" value="SanityDesktop"/>
                <parameter name="TestCaseID" value=""/>
                <parameter name="TestCaseCount" value=""/>
            </parameters>
            <classes>
                <class name="com.tribune.uiautomation.testscripts.TestEngine"/>
            </classes>
        </test>
    </tests>
</suite>
